{% extends 'base.html.twig' %}

{% block title %}Tout nos biens{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Tout nos biens</h1>
    </div>

    <table class="table table-striped container">
     
        {% for property in properties %}
            <tr>
                <td>{{ property.title }}</td>
                <td>
                    <a href="{{ path('property_show', {'id': property.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('property_edit', {'id': property.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container">
            <a href="{{ path('property_new') }}" class="btn btn-primary">Create new</a>
    </div>

{% endblock %}
